.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  text-align: center;

  @include onTablet {
    gap: 30px;
  }

  @include onDesktop {
    gap: 20px;
    flex-direction: row;
  }

  &__card {
    background-color: $white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    padding: 75px 42px 32px;

    @include onTablet {
      padding: 87px 98px 32px;
    }

    @include onDesktop {
      width: 292px;
      padding: 75px 42px 32px;
    }
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-bottom: 10px;

    @include onTablet {
      gap: 82px;
      margin-bottom: 18px;
    }

    @include onDesktop {
      gap: 70px;
      margin-bottom: 10px;
    }

    & img {
      height: 110px;
      width: 110px;
      border-radius: 50%;

      @include onTablet {
        height: 140px;
        width: 140px;
      }

      @include onDesktop {
        height: 110px;
        width: 110px;
      }
    }
  }

  &__quote {
    width: 20px;
    height: 18px;
  }

  &__comment {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    color: $grey;
    margin-bottom: 16px;
  }

  &__commentator {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    margin-top: auto;
    margin-bottom: 4px;
  }

  &__company {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #C0CDD7;
    ;
  }
}
