.header {
  background-color: $black;
  overflow: hidden;
  position: relative;
  border-radius: 0 0 30px 30px;

  &__nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
    position: relative;
    gap: 35px;

    @include onDesktop {
      justify-content: space-between;
    }
  }

  &__contacts {
    margin-left: auto;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;

    @include onDesktop {
      margin: 0;
    }

    &::after {
      content: '';
      display: block;
      margin-top: 8px;
      height: 2px;
      width: 98%;
      background-color: $blue;
    }
  }

  &__content {
    margin-top: 50px;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 147px;
    }

    @include onDesktop {
      margin-top: 168px;
      margin-bottom: 205px;
    }
  }

  &__title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: -2px;
    color: $white;

    margin-bottom: 32px;

    @include onTablet {
      font-size: 64px;
      line-height: 68px;
    }

    @include onDesktop {
      width: 362px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.5;
    color: $white;
    margin-bottom: 72px;

    @include onTablet {
      width: 362px;
    }
  }
}
