.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  appearance: none;
  z-index: -1;
  pointer-events: none;

  position: absolute;
  left: 20px;
  top: -150px;
  width: 150px;
  padding: 20px;

  background-color: $grey;
  transition: top 0.4s;

  &__item {
    text-transform: uppercase;
    font-family: 'Popins';
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
  }

  &__link {
    text-decoration: none;
    color: $white;
  }
}
